main {
    background-image: linear-gradient(135deg, #F5F7FA 0%, #C3CFE2 100%); 
    font-family: Lato, sans-serif;
}

@font-face {
    font-family: Montserrat, sans-serif;
    src: url(./assets/fonts/Montserrat-Bold.ttf);
    font-size: 14px;
}

header h1 {
    font-family: Montserrat, sans-serif;
    size: 4rem;
}

header h2{
    font-family: Montserrat, sans-serif;
    size: 2.2rem;
}

header h3 {
    font-family: Montserrat, sans-serif;
}

p {
    max-width: 70ch;
    line-height: 1.5;
}

body {
    background-image: url(./assets/img/studentsbg.png);
    background-size: 100% 100%;
    width: 1500px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

header > div {
    height: 55vh;
    width: 70ch;
    text-align: center;
    background-color: #c5192d;
    padding-top: 4rem;
}

#intro-container {
    background-color: #c5192d;
    width: 350px;
    padding: 10px;
    margin: 5px;
}