

body {
    background: linear-gradient(135deg,
    #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-size: 1.2rem;
    max-width: 70ch;
    line-height: 1.5; 
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Bold.ttf);
}

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.2rem;
}


header {
    height: 55vh;
    background: url(./assets/img/studentsbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: cover;
    width: 100vw;
    padding-top: 4rem;
}

header > div{
    background-color: #c5192d;
    color: white;
    margin: auto;
    width: 60%;
    height:30%;
    position: absolute;
    text-align: center;
    color: white;
}

main {
    background-color: whitesmoke;
    box-shadow: 0 0 1px 0 darkgrey;
    margin: 100px 150px 10px 150px;
}


#intro-container {
    width: 75%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#intro-container > div:first-of-type {
    background-color: #c5192d;
    width: 65%;
    float: left;
    text-align: left;

}

#intro-container > div:last-of-type {
    width: 350px;
    float: right;

}

article {
    display: inline-block;
}

article:nth-child(even) {
    width: 75%;
}

article:nth-child(even) > div {
    clear: both;
    padding: 10px;
    margin: 10px;
    width: 350px;
    float: left;
}

article:nth-child(even) > img {
    width: 40%;
    height: auto;
    float: right;
    padding: 10px;
    margin: 10px;
}

article:nth-child(3) > img {
    clear: both;
    width: 40%;
    height: auto;
    float: left;
    padding: 10px;
    margin: 10px;
}

article:nth-child(3) > div {
    width: 350px;
    padding: 10px;
    margin: 10px;
    float: right;
}

footer {
    clear: both;
    background-color: #c5192d;
    width: 75%;
}

